body{
  background-color: mediumturquoise;
}
*{
  font-family: 'Droid Sans', sans-serif;
}
#titulo{
  padding: 5px;
}
h1,h3{
  text-align: center;
}
button{
   background-color: white;
 }
 .button{

 }
 .row{
   align-items: flex-start;
   padding: 20px;
 }
 #resultado{
   border-style: solid;
   padding: 15px;
   font-size: 30px
 }
